@import url('https://fonts.googleapis.com/css?family=Inter');

*{
margin: 0;
padding: 0;
overflow: hidden;
font-family: 'Inter', sans-serif;
}

.container{
    height: 100vh;
    padding: 60px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.container-2{
    padding: 40px;
}

.grid-box{
    display: grid;
    grid-template-columns: 400px 400px;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.col-left{
    padding: 40px;
    height: 400px;
    background-color: #192841;
    border-radius: 10px;
}

.col-left h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.col-left .margin-left{
    padding-left: 20px;
}

.col-left label{
    font-size: 15px;
    text-align: left;
    color: white;
}

input{
    width: 90%;
    height: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    font-style: italic;
    color: white;
}

textarea{
    width: 90%;
    height: 90px;
    font-style: italic;
    background: none;
    border-bottom: 1px solid;
    color: white;
}

.submit-btn{
    padding-left: 20px;
}

.btn{
    height: 35px;
    margin-top: 15px;
    background-color:rgb(235, 235, 235);
    border-radius: 10px;
    color:#192841;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}

.col-right{
    padding-left: 60px;
    text-align: center;
}

.text p{
    font-size: 17px;
    font-weight: bold;
    color: #192841;
}

.text h2{
    font-size: 35px;
    color: #192841;
    padding-bottom: 40px;
}

.logo{
    padding-top: 70px;
}

img{
    width:  25px;
    height: 25px;    
    padding-right: 5px;
}