/* @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(../img/lightmode-bg.png);
    background-position: center;
    background-size: cover;
}

header{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.5s;
}

header .logo{
    padding: 0 80px;
    cursor: pointer;
}

header img{
    height: 30px;
    width: auto;
}

header .nav-bar{
    flex: 1;
    text-align: center;
    margin-left: 40px;
    /* justify-content: space-between; */
    /* transition: 0.7s ease; */
}

header .nav-bar ul li{
    display: inline-block;
    margin-left: 40px;
}

.nav-items3{
    padding-right: 90px;
}

/* .soc-medias {
    padding-left: 75px;
    font-size: 22px;
    color: #000000;
} */

/* .soc-medias ul li{
    display: inline-block;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    margin-left: 12px;
}  */

/* .soc-medias i:hover{
    color: #FF7F50;
} */

header .nav-link{
    color: #000000;
}

header .nav-link:hover{
    text-decoration: underline #FF7F50;
}

/* .hamburger{
    display: none;
    cursor: pointer;
}

.line{
    display: block;
    width:25px;
    height:3px;
    margin: 5px auto;
    -webkit-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
    background-color: #000000;
} */


/* Start of Header Responsive*/
@media only screen and (max-width: 1024px){
    /* header{
        padding: 20px 0px 0 20px;
    } */

    /* header .logo{
        padding: 0 40px;
    } */

    /* header a{
        padding-right: 0;
    } */

    /* .soc-medias {
        margin-right: 0 0 0 0 40px;
        margin-left: 0 40px;

    } */
}

@media only screen and (max-width: 1100px){
    /* header{
        padding: 20px 0px 0 20px;
    } */

    /* header img{     
        height: 28px;
        width: auto;
    } */

    /* .soc-medias {
        margin-right: 20px;
    } */
}

@media only screen and (max-width: 900px){
    header .logo{
        padding: 0 40px;
    }

    header img{     
        height: 28px;
        width: auto;
    }

    /* .soc-medias {
        margin-right: 30px;
    } */

    /* .hamburger{
        display: none;
        cursor: pointer;
    }
     */

    .hamburger{
        display: block;
        cursor: pointer;
    }
    
    .hamburger .line{
        /* display: block; */
        width:25px;
        height:3px;
        margin: 6px 0;
        /* -webkit-transition:  all 0.3s ease-in-out;
        transition:  all 0.3s ease-in-out; */
        background-color: #000000;
    } 

    /* .hamburger{
        display: block;
    } */

    /* .hamburger.active .line:nth-child(2){
        opacity:0;
    }

    .hamburger.active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } */

    .nav-bar{
        position: absolute;
        top: 60px;
        left:0;
        right:0;
        padding:0;
        width:100vw;
        height: 350px;
        background:#474a50;
        transition: 0.4s;

    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transform: 0.5s;
    }

    .nav,bar

    /* .nav-menu{
        position: fixed;
        left:-100%;
        top:70%;
        gap:0;
        flex-direction: column;
        background-color:#192841;
        width:100%;
        height: 100%;
        text-align: center;
        transition: 0.5s
    }

    .nav-items{
        margin: 16px;
    }

    .nav-menu.active{
        left:0;
    } */
} 

/* @media only screen and (max-width: 480px){
    h
} */


/* Start of Main Section*/

main{
    scroll-snap-type: y mandatory;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}

.home-pg{
    display: grid;
    grid-template-columns: 500px 700px;
    gap:10px;
    padding-left: 50px;
    padding-right: 50px;
}

.content-left{
    padding-left: 85px;
}

.content-left h2{
    font-size: 25px;
    margin-top: 215px;
    color: #192841;
}

.content-left h1{
    font-size: 55px;
    padding-top: 10px;
}

hr{
    width: 71%;
}

.content-left p{
    font-size: 30px;
    font-weight: bolder;
    color:#192841;
    padding-top: 15px;
}

.btn{
    padding-top: 40px;
}

button{
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border: 2px solid;
    box-shadow: 0 0 3px gray;
    background: none;
    cursor: pointer;
    
}

button a{
     color: #192841;
}

.content-right img {
    height: 350px;
    width: auto;
    margin-left: 140px;
    margin-top: 160px;
    background-color:  #192841 ;
    border-radius: 25%;
    box-shadow: 0 0 10px gray;
}

/* Start of About Me Section*/

.about-sec{
    background-color: #d89494;
}

.aboutMe-pg{
    display: grid;
    grid-template-columns: 400px 650px;
}

.aboutMe-pg .content-left{
    margin-top:140px;
    margin-left: 190px;
}

.aboutMe-pg img{
    width: 200px;
    height: auto;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    position: absolute;
    margin-left: 60px;
    z-index: 2;
}

.box{
    line-height: 1.2rem;
    width: 325px;
    height: 320px;
    padding: 40px;
    margin-top:105px;
    color: white;
    background-color:  #192841;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
}

.box p{
    font-size: 14px;
    font-weight:normal;
    text-align: justify;
    color: white;
    padding-top: 75px;
}

.box i{
    margin-right:10px;
    color: #FF7F50;
    /* text-shadow: 0 0 2px; */
}

.aboutMe-pg .content-right{
    padding-top: 160px;
    margin-left: 270px;
}

.aboutMe-pg h1{
    font-size: 50px;
    margin-left: 55px;
    color: #192841;
}

.aboutMe-pg h3{
    font-size: 20px;
    margin-left: 115px;
    color: #192841;
}

.aboutMe-pg hr{
    width: 380px;
    margin-top: 5px;
}

.aboutMe-pg #con-right{
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: justify;
}

.aboutMe-pg .content-right i{
    font-size: 17px;
    margin-top: 50px;
    margin-left: 5px;
    color:  #192841;
}

.aboutMe-pg .content-right a{
    font-size: 15px;
    font-weight: bold;
    margin-left: 130px;
    background: none;
    border: 2px solid  #192841;
    color:  #192841;
    padding: 10px;
}

/* Start of Skills Section*/

.skills-sec{
    background-color: #EBEBEB;
}

.skills{
    text-align: center;
    padding-top: 110px;
}

.skills h1{
    font-size: 50px;
    color: #192841;
}

.skills .card{
    padding-top: 30px;
}

.skills ul li{
    display: inline-block;
    width: 250px;
    height: 300px;
}

.card .logo1{
    width: auto;
    height:180px;
    position: relative;
    z-index:1;
    margin-left: 128px;
    margin-bottom: 30px;
}

.card .logo2{
    width: auto;
    height: 240px;
    /* margin-left: 50px; */
    position: relative;
    z-index: 3;
}

.card .logo3{
    width: auto;
    height: 180px;
    position: relative;
    z-index:2;
    right: 90px;
    margin-bottom: 30px;
}

.css{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 153px;
    color: #192841;
}

.html{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #192841;
}

.js{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 153px;
    color: #192841;
}

.card i{
    font-size: 23px;
    color: #000000;
}
